* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App-paragraph {
  color: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}